
array-rotation-left/.classpath
array-rotation-left/.project
array-rotation-left/.settings/org.eclipse.jdt.core.prefs
*.class
Copiando_Arrays_Java1.png
*.prefs
string-valid/.classpath
string-valid/.project
sorting-comparator/.project
sorting-comparator/.classpath
dictionaries-sherlock-anagrams/.classpath
dictionaries-sherlock-anagrams/.project
anagrama/.project
brute-force-min-time-required/.classpath
brute-force-min-time-required/.project
busca-binaria-min-time-required/.project
busca-binaria-recursiva/.project
busca-binaria/.project
codigo-obi/.project
ordem-decrescente/.project
ordem-decrescente/.project
quantidade-letras/.project
roubo-teclado/.project
soma-digito/.project
