
array-rotation-left/.classpath
array-rotation-left/.project
array-rotation-left/.settings/org.eclipse.jdt.core.prefs
*.class
Copiando_Arrays_Java1.png
*.prefs
string-valid/.classpath
string-valid/.project
sorting-comparator/.project
sorting-comparator/.classpath
dictionaries-sherlock-anagrams/.classpath
dictionaries-sherlock-anagrams/.project
